{% load i18n static %}<!DOCTYPE html>
<head>
    <title>Custom Chat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
    {% load static %}
    <script type="application/javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script type="module" src="{% static 'js/commands_factory.js' %}"></script>
    <script type="module" src="{% static 'js/chat.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.js' %}"></script>
</head>

<body>
{% verbatim %}
<div id="content-main" ng-app="Chat" ng-controller="BaseChatCtrl">
    <div class="container" style="background-color: #f7fafe">
        <h5 style="    text-align: center;
    border-radius: 5px; padding: 5px; margin: 3px;">This is simple chat for few users. Current user is: {{
            current_user.username }}. <a href="/logout">Logout</a></h5>

        <div class="window-message">
            <ul class="example-animate-container">
                <li class="animate-repeat" ng-repeat="message in message_list track by $index">
                    {{ message.user }}
                    <br>
                    <div style="background-color: #edffec;"> {{message.message}}</div>
                </li>
            </ul>

        </div>

        <div class="row">
            <div class="col-10">

                <div class="input-group" style="padding: 7px;">

                    <textarea class="form-control" aria-label="With textarea" placeholder="Enter message text"
                              ng-model="text_input"></textarea>
                </div>
            </div>
            <div class="col-2" id="send-mess">
                <button src="static/img/paper-plane.png" type="button" class="btn btn-light bouton-image monBouton"
                        ng-click="SendMess()" id="image-send" alt="Login"
                ></button>
            </div>


        </div>

    </div>
</div>
{% endverbatim %}
</body>

