.container {
    max-width: 1100px;
    margin: 0 auto;

}

.window-message {
    overflow: auto;
    min-height: 75px;
    max-height: 300px;
    padding: 7px;
    margin: 5px;
    max-width: 100%;
    border: solid #7e4040 1px;
    border-radius: 3px;
}

.bouton-image:before {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image :  url("paper-plane.png");
}


input[type='image'] {
    margin-left: auto;
    margin-right: auto;
}

#send-mess {
    padding-left: 0px;
}

#image-send {
    height: 50px;
    margin-top: 10px;
}

#send-mess:hover #image-send {
    border-radius: 40px;
}


ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}